<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.bdm.comments">
<!-- CRUD -->
<update id="doUpdate" parameterType="CommentsVO">
	UPDATE comments
	   SET contents = #{contents}
	      ,reg_dt = SYSDATE
	WHERE  reg_no = #{regNo}
</update>

<select id="doRetrieve" parameterType="CommentsVO" resultType="CommentsVO">
	SELECT
	    reg_no,
	    contents,
	    DECODE(TO_CHAR(reg_dt,'YYYYMMDD'), TO_CHAR(SYSDATE,'YYYYMMDD')
	    ,TO_CHAR(reg_dt,'HH24:MI')
	    ,TO_CHAR(reg_dt,'YYYY-MM-DD')) as regDt,	    	    
	    post_no,
	    id,
	    mod_id
	FROM
	    comments
	WHERE post_no =  #{postNo}   
	ORDER BY reg_no
</select>


<select id="getRegNo" resultType="int">
    SELECT COMMENTS_SEQ.NEXTVAL FROM dual
</select>

<select id="doSelectOne" parameterType="CommentsVO" resultType="CommentsVO">
	SELECT
	    reg_no,
	    contents,
	    reg_dt,
	    post_no,
	    id,
	    mod_id
	FROM
	    comments
	WHERE
	    reg_no = #{regNo}

</select>

<delete id="doDelete"  parameterType="CommentsVO">
	DELETE FROM comments
	WHERE   reg_no = #{regNo}
</delete>


<insert id="doSave" parameterType="CommentsVO">
	INSERT INTO comments (
	    reg_no,
	    contents,
	    reg_dt,
	    post_no,
	    id,
	    mod_id
	) VALUES (
	    comments_seq.NEXTVAL,
	    #{contents},
	   	SYSDATE,	    
        #{postNo},
	    #{id},
	    #{modId}
	)
</insert>

</mapper>