<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.bdm.qa">
	
	<!-- div -->
	<sql id="divCondition">
	    <choose>
	        <when test=" ''!=div and '20' == div "><!-- 20 -->
	            AND div = '20'
	        </when>
	        <otherwise> <!-- 10 -->
	            AND div = '10'
	        </otherwise>
	    </choose>
	</sql>
	
	<sql id="searchCondition">
	    <choose>
	        <when test=" ''!= searchDiv and '10' == searchDiv ">
	            AND title LIKE '%' || #{searchWord} || '%'
	        </when>
	        <when test=" ''!= searchDiv and '20' == searchDiv ">
	            AND contents LIKE '%' || #{searchWord} || '%'
	        </when>
	        <when test=" ''!= searchDiv and '30' == searchDiv ">
	            AND id LIKE '%' || #{searchWord} || '%'
	        </when> 
	    </choose>
	</sql>

	<select id="doRetrieve" parameterType="QaVO" resultType="QaVO">
	    SELECT A.*,B.totalCnt
	    FROM (
	        SELECT 
	        	tt1.post_no,
	        	tt1.rnum as no,
		        tt1.title, 
		        tt1.contents,
		        --당일 등록: 시:분, 그렇치 않으면 년-월-일
		        DECODE(TO_CHAR(tt1.reg_dt,'YYYYMMDD'), TO_CHAR(SYSDATE,'YYYYMMDD')
		        ,TO_CHAR(tt1.reg_dt,'HH24:MI')
		        ,TO_CHAR(tt1.reg_dt,'YYYY-MM-DD')) as regDt,
		        tt1.id
	        FROM (
	            SELECT ROWNUM rnum, T1.*
	            FROM (
	                SELECT *
	                FROM qa
	                --WHERE 검색
	                WHERE 1=1
	            <!-- <include refid="divCondition"/> -->
	            <include refid="searchCondition"/>
	                ORDER BY reg_dt DESC
	            )T1   --10,20,30,...
	            <![CDATA[   WHERE ROWNUM <=#{pageSize} * (#{pageNo}-1) + #{pageSize} ]]>
	        )TT1
	        --1,11,21,31,..
	        <![CDATA[ WHERE rnum >= #{pageSize} * (#{pageNo}-1) + 1 ]]>
	    )A
	    CROSS JOIN (
	    	SELECT COUNT(*) totalCnt
	        FROM qa
	        --WHERE 검색
	        WHERE 1=1
	        <!-- <include refid="divCondition"/> -->
	        <include refid="searchCondition"/>
	    )B
	</select>


	<select id="getQaSeq" resultType="int">
    SELECT QA_SEQ.NEXTVAL FROM DUAL
    </select>

	<select id="doSelectOne" parameterType="QaVO" resultType="QaVO">
	SELECT
	    post_no,
	    title,
	    contents,
	    TO_CHAR(reg_dt,'YYYY-MM-DD HH24:MI:SS') reg_dt,
	    id
	FROM
	    qa
	WHERE
		post_no = #{postNo}
	</select>

	<delete id="doDelete" parameterType="QaVO">
	DELETE FROM qa
	WHERE post_no = #{postNo}
	</delete>

	<insert id="doSave" parameterType="QaVO">
	INSERT INTO qa (
	    post_no,
	    title,
	    contents,
	    reg_dt,
	    id
	) VALUES (
	    #{postNo},
	    #{title},
	    #{contents},
	    SYSDATE,
	    #{id}
	)
	</insert>



</mapper>